.privacy-policy-container {
    font-family: 'Arial, sans-serif';
    margin: 20px;
    padding: 0;
}

.privacy-policy-title {
    font-size: 2em;
    font-weight: bold;
}

.privacy-policy-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px 0;
}

ul {
    list-style-type:circle;
    padding: 5px;
    li {
        margin-left: 40px;
    }
}

a {
    color: #007bff;
    text-decoration: none;
}